<nav id="header" data-cy="header">
    <div class="header-shell">
        <a class="marsh-logo" routerLink="/dashboard" aria-label="Go to dashboard">
            <img data-cy="logo" src="assets/mmc-logo.svg" alt="Marsh" />
        </a>

        <div class="header-context" *ngIf="isDashboardRoute">
            <div class="header-copy">
                <span class="header-title">{{ dashboardTitle }}</span>
                <span class="header-trail" *ngIf="headerDetailLabel">
                    /
                    <span>{{ headerDetailLabel }}</span>
                </span>
            </div>

            <div class="header-meta">
                <div class="header-profile" (click)="$event.stopPropagation()">
                    <button
                        type="button"
                        class="header-profile-button"
                        aria-label="Open profile menu"
                        aria-haspopup="menu"
                        [attr.aria-expanded]="isProfileMenuOpen"
                        (click)="toggleProfileMenu($event)"
                    >
                        <span class="header-user-name">{{ headerUserName }}</span>
                        <span class="header-avatar">
                            <img
                                *ngIf="headerUserAvatarUrl; else headerAvatarInitials"
                                class="header-avatar-image"
                                [src]="headerUserAvatarUrl"
                                [alt]="headerUserName"
                            />
                            <ng-template #headerAvatarInitials>{{
                                headerUserInitials
                            }}</ng-template>
                        </span>
                    </button>

                    <div class="header-profile-menu" *ngIf="isProfileMenuOpen" role="menu">
                        <div class="header-profile-summary">
                            <span class="header-profile-avatar">
                                <img
                                    *ngIf="headerUserAvatarUrl; else headerProfileAvatarInitials"
                                    class="header-avatar-image"
                                    [src]="headerUserAvatarUrl"
                                    [alt]="headerUserName"
                                />
                                <ng-template #headerProfileAvatarInitials>
                                    {{ headerUserInitials }}
                                </ng-template>
                            </span>

                            <div class="header-profile-copy">
                                <span class="header-profile-label">Signed in as</span>
                                <span class="header-profile-name">{{ headerUserName }}</span>
                                <span class="header-profile-email" *ngIf="headerUserEmail">
                                    {{ headerUserEmail }}
                                </span>
                            </div>
                        </div>

                        <div
                            class="header-profile-field"
                            *ngIf="headerUserUsername && headerUserUsername !== headerUserEmail"
                        >
                            <span class="header-profile-field-label">Username</span>
                            <span class="header-profile-field-value">{{ headerUserUsername }}</span>
                        </div>

                        <div class="header-profile-field" *ngIf="headerUserRole">
                            <span class="header-profile-field-label">Role</span>
                            <span class="header-profile-field-value">{{ headerUserRole }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<main class="main" data-cy="main" [class.blur]="isMenuOpen">
    @if (apiUnreachable === true || apiError === true) {
        <div class="main__api_error">
            @if (apiUnreachable === true) {
                <p>Tasks API is unreachable</p>
            }
            @if (apiError === true) {
                <p>Tasks API error</p>
            }
        </div>
    }
    @if (showMicroLenAi) {
        <micro-lenai-webcomponent
            backEndPoint="{{ microLenAiApiUrl }}"
            authToken="{{ oktaAuth?.getAccessToken() || '' }}"
            appName="Polaris Blueprint"
            userOnly="false"
            checkFacts="false"
            chatBoxHeader="Micro LenAI"
            chatBoxWelcomeMessage="Hi! I'm Micro-LenAI. What do you want to know about today?"
            brandColor="#002c77"
            brandColorSecondary="#1d4ed8"
        ></micro-lenai-webcomponent>
    }
    <router-outlet></router-outlet>
</main>

@if (showFooter) {
    <footer class="footer responsive-grid" data-cy="footer">
        <div class="responsive-grid-col">
            <a routerLink="/">
                <img src="assets/mmc-logo-footer.svg" alt="marsh-logo" />
            </a>
            <div class="mmc-typography-body-14-large-regular">
                Marsh is the leader in risk, strategy and people, helping clients navigate a dynamic
                environment through four global businesses.
            </div>

            <div class="responsive-grid responsive-grid-gap mmc-typography-small-12-regular">
                <div>Terms of Use</div>
                <div>Privacy Notice</div>
                <div>Cookie Policy</div>
                <div>Manage Cookies</div>
            </div>

            <div class="mmc-typography-small-12-regular" data-cy="copyright">
                © {{ currentYear }} Marsh Companies, LLC. All Rights Reserved.
            </div>
        </div>

        <div class="responsive-grid-col responsive-grid-flex-grow responsive-grid-flex-end">
            <div class="responsive-grid responsive-grid-gap">
                <div>Marsh</div>
                <div>GuyCarpenter</div>
                <div>Mercer</div>
                <div>OliverWyman</div>
            </div>

            <div class="responsive-grid responsive-grid-gap">
                <img class="responsive-grid-social-img" src="assets/footer-linkedin.svg" />
                <img class="responsive-grid-social-img" src="assets/footer-twitter.svg" />
                <img class="responsive-grid-social-img" src="assets/footer-facebook.svg" />
                <img class="responsive-grid-social-img" src="assets/footer-instagram.svg" />
                <img class="responsive-grid-social-img" src="assets/footer-link.svg" />
            </div>

            <p data-cy="version" class="mmc-typography-body-14-large-regular">v{{ appVersion }}</p>
            <p class="mmc-typography-body-14-large-regular">
                Powered by
                <a
                    href="https://mmcglobal.sharepoint.com/sites/EnterpriseArchitecture/SitePages/Polaris.aspx"
                    title="Created with Polaris"
                    target="_blank"
                >
                    Polaris</a
                >
                <!-- Please don't remove this Powered by Polaris -->
            </p>
        </div>
    </footer>
}
