@import 'app/main';

@font-face {
    font-family: 'MMC Display-Bold';
    src: url('/assets/fonts/MMCDisplay_A_Bd.ttf') format('truetype');
}

@font-face {
    font-family: 'MMC Display-Regular';
    src: url('/assets/fonts/MMCDisplay_A_Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'MMC Display-Condensed-Bold';
    src: url('/assets/fonts/MMCDisplayCd_A_Bd.ttf') format('truetype');
}

@font-face {
    font-family: 'MMC Display-Condensed-Regular';
    src: url('/assets/fonts/MMCDisplayCd_A_Rg.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto-Sans';
    src: url('/assets/fonts/NotoSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto-Sans-Light';
    src: url('/assets/fonts/NotoSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto-Sans-Bold';
    src: url('/assets/fonts/NotoSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto-Sans-Italic';
    src: url('/assets/fonts/NotoSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto-Sans-LightItalic';
    src: url('/assets/fonts/NotoSans-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto-Sans-BoldItalic';
    src: url('/assets/fonts/NotoSans-BoldItalic.ttf') format('truetype');
}
