# The default registry is changed because it is important that all packages
# are installed via Artifactory rather than directly from the main npm registry.
# This allows Artifactory to perform scanning of packages but does so in a non-blocking
# way so your npm installs are still quick.
registry=https://mgti-dal-so-art.mrshmc.com/artifactory/api/npm/npm
save-exact=true
legacy-peer-deps=true
min-release-age=2