CHART_NAME=webservice
CHART_VERSION=1.0.73

APP_TYPE=db
APP_NAMESPACE=mer-operdash-dev-operationaldashboard
CREATE_SVC_ACCOUNT=true
APP_RELEASENAME=db-execution
KUBERNETES_URL=mmc-app-npd-eks-euw1-int
API_BASE_URL=https://dev-operational-dashboard.int.npd.mmc.aws-euw1.oss2.mrshmc.com
KUBERNETES_CLUSTER=mmc-app-npd-eks-euw1-int
WORKLOAD_KIND=Job
SECRETS_URL=https://mgti-dal-so-vlt.mrshmc.com/v1/secrets/config
VAULT_DB_URL=https://mgti-dal-so-vlt.mrshmc.com/v1/database/static-creds
VAULT_NAMESPACE=mmc-app-npd-eks-euw1-int/mer-operdash-dev-operationaldashboard
VAULT_ROLE_NAME=eks-mer-operdash-dev-operationaldashboard-3abd
VAULT_URL=https://mgti-dal-so-vlt.mrshmc.com/v1/auth/aws-mmc-app-npd-eks-euw1-int/login
APP_CONTEXT_PATH=api
MONGO_DB_CMD=npx mongo-migrate up
KUBERNETES_SERVICE_ACCOUNT_NAME=mgti-dvpseng-stg-oss2helloworld-svc-acct
AWS_ROLE_ARN=arn:aws:iam::231305351765:role/eks-mer-operdash-dev-operationaldashboard-3abd
VAULT_AWS_REGION=eu-west-1
VAULT_AWS_AUTH_BACKEND=aws-mmc-app-npd-eks-euw1-int
VAULT_ADDR=https://mgti-dal-so-vlt.mrshmc.com
VAULT_USE_AWS_AUTH=true



NODE_AFFINITY_KEY=role
NODE_AFFINITY_VALUE=memoptimized



#For more information on this section, please refer to Platform standards here https://mmcglobal.sharepoint.com/:u:/r/sites/OpenSourceStack/SitePages/Container-Pod-Labels-and-Annotations.aspx?csf=1&web=1&e=aPvqoy
APP_TIER=application
TIER=application
IS_POLARIS=true
IS_POLARIS_DB=true
VAULT_ROLE_TYPE=static
JFROG_PROD_REPO=prod-images.mgti-dal-so-art.mrshmc.com

#For more information on this section, please refer to Platform standards here https://mmcglobal.sharepoint.com/sites/OpenSourceStack/SitePages/OSS2-Standard-and-Guidelines.aspx
OSS2_REPLICA_COUNT=2

POD_RESOURCES_LIMITS_CPU=250m
POD_RESOURCES_LIMITS_MEMORY=300Mi
POD_RESOURCES_REQUESTS_CPU=150m
POD_RESOURCES_REQUESTS_MEMORY=200Mi


DEPLOYMENT_VALUES_FILE=./deployments/helm/aws-db-execution.yml