<section class="flex-layout">
    <div class="container mmc-shadows-shadow1">
        <section class="content">
            <h1 class="mmc-typography-headline1-64-v1" data-cy="h1-title">Getting Started</h1>
            <p class="mmc-typography-title3-24-regular">
                This page is a Polaris design system built using Marsh brand guidelines to help you
                quick start your project. Below is a series of instructions and guides to help you
                get started with the Polaris MEAN Blueprint and use it as the starting point for
                your next application.
            </p>
            <div class="getting-started">
                <div>
                    <h2 className="mmc-typography-title1-32-regular-caps">Security Notice</h2>
                    <br />
                    <p className="mmc-typography-body-16-large-bold">
                        DO NOT HARDCODE PASSWORDS OR SENSITIVE DATA, PLEASE MANAGE SENSITIVE DATA IN
                        SECRET MANAGEMENT. Visit &nbsp;
                        <a
                            href="https://developer.mmc.com/developer-resources"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            Developer Resources
                        </a>
                        &nbsp;for more details.
                    </p>
                </div>
                <div>
                    <h2 class="mmc-typography-title1-32-regular-caps">UI</h2>
                    <br />
                    <p class="mmc-typography-body-16-large-regular">
                        The UI is a responsive Angular application based largely
                        <a href="https://nx.dev/" target="_blank" rel="noopener noreferrer">Nx</a>
                        - an extensible framework used for assisting with template code generation
                        and application build procedures.
                        <br />
                        <br />
                        For an overview of the structure of the UI, including any design patterns
                        and development approaches to follow and for guidance on how to extend the
                        Blueprint, including adding new components and pages, see the

                        <a
                            href="https://mmcglobal.sharepoint.com/sites/EnterpriseArchitecture/SitePages/Angular-User-Interface.aspx"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            Polaris MEAN Blueprint Structure documentation
                        </a>
                    </p>
                </div>
                <div>
                    <h2 class="mmc-typography-title1-32-regular-caps">MICRO LenAI</h2>
                    <br />
                    <div class="mmc-typography-body-16-large-regular">
                        <p>
                            You can find Micro LenAI in the bottom right corner of the page. Micro
                            LenAI is a web component that provides a chat interface for users to
                            interact with the application.
                        </p>
                        <br />
                        <p>
                            You need to upload your documents for Micro LenAI to answer the
                            questions. You can see this page how to upload documents:&nbsp;
                            <a
                                href="https://mmcglobal.sharepoint.com/sites/EnterpriseArchitecture/SitePages/Polaris--Micro-LenAI.aspx"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                Micro LenAI Documentation
                            </a>
                        </p>
                    </div>
                </div>
                <div>
                    <h2 class="mmc-typography-title1-32-regular-caps">CRUD APPLICATION</h2>
                    <br />
                    <div class="mmc-typography-body-16-large-regular">
                        <p>
                            This application contains pre-configured examples which showcase the
                            different capabilities of the Blueprint.
                        </p>
                        <br />
                        <p>
                            Task List showcases CRUD functionality in the Blueprint though creating,
                            editing and deleting tasks, with active tasks shown in a list format.
                        </p>
                    </div>
                </div>
                <button
                    class="btn-primary btn-primary-default"
                    routerLink="/tasks"
                    data-cy="task-list"
                >
                    <span class="mmc-typography-body-16-large-regular">Task List</span>
                </button>
            </div>
        </section>
        <section class="mmc-brand">
            <div class="content">
                <p class="mmc-typography-headline1-64-v1">YOUR MARSH BRAND STARTER PACK</p>
                <div class="mmc-typography-title3-24-regular">
                    <p>
                        Please find below some of the branding guidelines when building your project
                        for consistent UI/UX practices.
                    </p>
                    <br />

                    <div class="responsive-grid responsive-grid-gap">
                        <a routerLink="/mmc-brand">
                            <button class="btn-secondary btn-secondary-default">
                                <span class="mmc-typography-body-16-large-regular"
                                    >Marsh Brand Examples</span
                                >
                            </button></a
                        >
                        <a
                            href="https://brand.marsh.com/document/1154"
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <button class="btn-secondary btn-secondary-default">
                                <span class="mmc-typography-body-16-large-regular"
                                    >Marsh Brand Website</span
                                >
                            </button></a
                        >
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
