<section class="flex-layout">
    <div class="container mmc-shadows-shadow1">
        <section class="content">
            <h2 class="mmc-typography-title1-32-regular-caps">Example of Usage</h2>
            <section class="mmc-example mmc-shadows-shadow1">
                <h3 class="mmc-typography-title4-20-bold-caps">Title</h3>
                <p class="mmc-typography-title3-24-regular">
                    Maximum 260 characters (including spaces). We are an integrated team of leading
                    practitioners working as one team, committed to dreaming and achieving together
                    with you, with courage, dedication, and empathy.
                </p>
                <div class="responsive-grid responsive-grid-gap2">
                    <div class="responsive-grid-col">
                        <div class="mmc-example-div">
                            <p class="mmc-typography-body-14-large-regular">Subtitle</p>
                            <p class="mmc-typography-title5-20-bold">
                                Title appears here and can be a maximum of 80 characters long
                            </p>
                            <p class="mmc-typography-body-16-large-regular">Author</p>
                            <article class="mmc-typography-body-14-large-regular">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus
                                massa nisl, urna ...
                            </article>
                        </div>
                        <button class="btn-secondary btn-secondary-default">
                            <span class="mmc-typography-body-14-large-regular">More</span>
                        </button>
                    </div>
                    <div class="responsive-grid-col">
                        <div class="mmc-example-div">
                            <p class="mmc-typography-body-14-large-regular">Subtitle</p>
                            <p class="mmc-typography-title5-20-bold">
                                Title appears here and can be a maximum of 80 characters long
                            </p>
                            <p class="mmc-typography-body-16-large-regular">Author</p>
                            <article class="mmc-typography-body-14-large-regular">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus
                                massa nisl, urna ...
                            </article>
                        </div>
                        <button class="btn-secondary btn-secondary-default">
                            <span class="mmc-typography-body-14-large-regular">More</span>
                        </button>
                    </div>
                    <div class="responsive-grid-col">
                        <div class="mmc-example-div">
                            <p class="mmc-typography-body-14-large-regular">Subtitle</p>
                            <p class="mmc-typography-title5-20-bold">
                                Title appears here and can be a maximum of 80 characters long
                            </p>
                            <p class="mmc-typography-body-16-large-regular">Author</p>
                            <article class="mmc-typography-body-14-large-regular">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Senectus
                                massa nisl, urna ...
                            </article>
                        </div>
                        <button class="btn-secondary btn-secondary-default">
                            <span class="mmc-typography-body-14-large-regular">More</span>
                        </button>
                    </div>
                </div>
            </section>
        </section>

        <section class="content">
            <div class="mmc-buttons">
                <h2 class="mmc-typography-title1-32-regular-caps">BUTTONS</h2>
                <div class="responsive-grid">
                    <div class="responsive-grid-col responsive-grid-flex-grow btn-titles">
                        <br />
                        <div class="btn-type-title">Disabled</div>
                        <div class="btn-type-title">Default</div>
                        <div class="btn-type-title">Hover</div>
                        <div class="btn-type-title">Focused</div>
                        <div class="btn-type-title">Pressed</div>
                        <div class="btn-type-title">Icon front</div>
                        <div class="btn-type-title">Icon back</div>
                    </div>
                    <div class="responsive-grid-col responsive-grid-flex-grow">
                        <div><b>Primary</b></div>
                        <button class="btn-primary btn-primary-disabled">Launch</button>
                        <button class="btn-primary btn-primary-default">Launch</button>
                        <button class="btn-primary btn-primary-hover">Launch</button>
                        <button class="btn-primary btn-primary-focused">Launch</button>
                        <button class="btn-primary btn-primary-pressed">Launch</button>
                        <button class="btn-primary btn-primary-icon">
                            <img src="assets/download-icon.svg" />
                            Launch
                        </button>
                        <button class="btn-primary btn-primary-icon">
                            Launch
                            <img src="assets/download-icon.svg" />
                        </button>
                    </div>
                    <div class="responsive-grid-col responsive-grid-flex-grow">
                        <div><b>Secondary</b></div>
                        <button class="btn-secondary btn-secondary-disabled">Launch</button>
                        <button class="btn-secondary btn-secondary-default">Launch</button>
                        <button class="btn-secondary btn-secondary-hover">Launch</button>
                        <button class="btn-secondary btn-secondary-focused">Launch</button>
                        <button class="btn-secondary btn-secondary-pressed">Launch</button>
                    </div>
                    <div class="responsive-grid-col responsive-grid-flex-grow">
                        <div><b>Tertiary</b></div>
                        <button class="btn-tertiary btn-tertiary-disabled">Launch</button>
                        <button class="btn-tertiary btn-tertiary-default">Launch</button>
                        <button class="btn-tertiary btn-tertiary-hover">Launch</button>
                        <button class="btn-tertiary btn-tertiary-focused">Launch</button>
                        <button class="btn-tertiary btn-tertiary-pressed">Launch</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <h2 class="mmc-typography-title1-32-regular-caps">Typography</h2>
            <div class="mmc-typography">
                <p class="mmc-typography-headline1-64-v1">Headline 1 ver 1 - 64 - bold</p>
                <p class="mmc-typography-headline1-64-v2">Headline 1 ver 2 - 64 - bold</p>
                <p class="mmc-typography-headline2-48">Headline 2 - 48</p>
                <p class="mmc-typography-title1-32-regular-caps">Title 1 - 32 - regular caps</p>
                <p class="mmc-typography-title2-32-bold">Title 2 - 32 - bold</p>
                <p class="mmc-typography-title3-24-regular">Title 3 - 24 - regular</p>
                <p class="mmc-typography-title4-20-bold-caps">Title 4 - 20 - bold caps</p>
                <p class="mmc-typography-title5-20-bold">Title 5 - 20 - bold</p>
                <div class="responsive-grid">
                    <div
                        class="responsive-grid-col responsive-grid-flex-grow responsive-grid-min-width"
                    >
                        <p class="mmc-typography-body-16-large-regular">
                            Body text - large 16 - regular
                        </p>
                        <p class="mmc-typography-body-16-large-light">
                            Body text - large 16 - light
                        </p>
                        <p class="mmc-typography-body-16-large-bold">Body text - large 16 - bold</p>
                    </div>
                    <div
                        class="responsive-grid-col responsive-grid-flex-grow responsive-grid-min-width"
                    >
                        <p class="mmc-typography-body-16-large-italic">
                            Body text - large 16 - italic
                        </p>
                        <p class="mmc-typography-body-16-large-light-italic">
                            Body text - large 16 - light italic
                        </p>
                        <p class="mmc-typography-body-16-large-bold-italic">
                            Body text - large 16 - bold italic
                        </p>
                    </div>
                </div>

                <div class="responsive-grid">
                    <div
                        class="responsive-grid-col responsive-grid-flex-grow responsive-grid-min-width"
                    >
                        <p class="mmc-typography-body-14-large-regular">
                            Body text - large 14 - regular
                        </p>
                        <p class="mmc-typography-body-14-large-light">
                            Body text - large 14 - light
                        </p>
                        <p class="mmc-typography-body-14-large-bold">Body text - large 14 - bold</p>
                    </div>
                    <div
                        class="responsive-grid-col responsive-grid-flex-grow responsive-grid-min-width"
                    >
                        <p class="mmc-typography-body-14-large-italic">
                            Body text - large 14 - italic
                        </p>
                        <p class="mmc-typography-body-14-large-light-italic">
                            Body text - large 14 - light italic
                        </p>
                        <p class="mmc-typography-body-14-large-bold-italic">
                            Body text - large 14 - bold italic
                        </p>
                    </div>
                </div>

                <p class="mmc-typography-small-12-regular">
                    Caption or other small text - 12 regular
                </p>
                <p class="mmc-typography-small-12-light">Caption or other small text - 12 light</p>
            </div>

            <div class="responsive-grid responsive-grid-gap">
                <a
                    href="https://brand.mmc.com/document/295#/brand-elements/typography"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <button class="btn-secondary btn-secondary-default">
                        <span class="mmc-typography-body-14-large-regular"
                            >Typography Guidelines</span
                        >
                    </button></a
                >

                <a
                    href="https://brand.mmc.com/document/296#/assets/type"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <button class="btn-secondary btn-secondary-default">
                        <span class="mmc-typography-body-14-large-regular">Download Fonts</span>
                    </button></a
                >
            </div>
        </section>

        <section class="content">
            <h2 class="mmc-typography-title1-32-regular-caps">Colors</h2>
            <h3 class="mmc-typography-title2-32-bold">Primary</h3>
            <p class="mmc-typography-body-16-large-regular">
                Our primary colors help create a bold and provocative aesthetic while keeping
                content open and legible and showcase the imagery and colors that we want to stand
                out.
            </p>

            <div class="mmc-colors">
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-primary-color1"></div>
                    <span class="mmc-typography-small-12-regular">000000</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-primary-color2"></div>
                    <span class="mmc-typography-small-12-regular">FFFFFF</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-primary-color3"></div>
                    <span class="mmc-typography-small-12-regular">002C77</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-primary-color4"></div>
                    <span class="mmc-typography-small-12-regular">009DE0</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-primary-color5"></div>
                    <span class="mmc-typography-small-12-regular">76D3FF</span>
                </div>
            </div>

            <div class="mmc-typography-body-16-large-regular">Background color</div>

            <div class="mmc-colors">
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-background-color1"></div>
                    <span class="mmc-typography-small-12-regular">F0F0F0</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-background-color2"></div>
                    <span class="mmc-typography-small-12-regular">FFFFFF</span>
                </div>
            </div>

            <h3 class="mmc-typography-title2-32-bold">Accents</h3>
            <p class="mmc-typography-body-16-large-regular">
                Secondary accents should be used on color blocks or in illustrations. They should
                not be used as panel backgrounds.
            </p>

            <div class="mmc-colors">
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color1"></div>
                    <span class="mmc-typography-small-12-regular">FFAEA6</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color2"></div>
                    <span class="mmc-typography-small-12-regular">EF4E45</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color3"></div>
                    <span class="mmc-typography-small-12-regular">9A1C1F</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color4"></div>
                    <span class="mmc-typography-small-12-regular">FFCA94</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color5"></div>
                    <span class="mmc-typography-small-12-regular">FF8C00</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color6"></div>
                    <span class="mmc-typography-small-12-regular">A32E00</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color7"></div>
                    <span class="mmc-typography-small-12-regular">FFE580</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color8"></div>
                    <span class="mmc-typography-small-12-regular">FFBE00</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color9"></div>
                    <span class="mmc-typography-small-12-regular">965D00</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color10"></div>
                    <span class="mmc-typography-small-12-regular">ADDFB3</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color11"></div>
                    <span class="mmc-typography-small-12-regular">00AC41</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color12"></div>
                    <span class="mmc-typography-small-12-regular">275D38</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color13"></div>
                    <span class="mmc-typography-small-12-regular">98DBCE</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color14"></div>
                    <span class="mmc-typography-small-12-regular">00968F</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color15"></div>
                    <span class="mmc-typography-small-12-regular">005E5D</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color16"></div>
                    <span class="mmc-typography-small-12-regular">9CD9E4</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color17"></div>
                    <span class="mmc-typography-small-12-regular">0077A0</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color18"></div>
                    <span class="mmc-typography-small-12-regular">004C6C</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color19"></div>
                    <span class="mmc-typography-small-12-regular">BED3E4</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color20"></div>
                    <span class="mmc-typography-small-12-regular">8096B2</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color21"></div>
                    <span class="mmc-typography-small-12-regular">4E6287</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color22"></div>
                    <span class="mmc-typography-small-12-regular">CCB3E0</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color23"></div>
                    <span class="mmc-typography-small-12-regular">8246AF</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color24"></div>
                    <span class="mmc-typography-small-12-regular">463282</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color25"></div>
                    <span class="mmc-typography-small-12-regular">F8ACBE</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color26"></div>
                    <span class="mmc-typography-small-12-regular">EE3D8B</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color27"></div>
                    <span class="mmc-typography-small-12-regular">B2025B</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color28"></div>
                    <span class="mmc-typography-small-12-regular">DADADA</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color29"></div>
                    <span class="mmc-typography-small-12-regular">949494</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-accent-color30"></div>
                    <span class="mmc-typography-small-12-regular">565656</span>
                </div>
            </div>

            <h3 class="mmc-typography-title2-32-bold">Status Colors</h3>
            <p class="mmc-typography-body-16-large-regular">
                Status colors should be used to communicate states to the user.
            </p>

            <div class="mmc-colors">
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-status-color1"></div>
                    <span class="mmc-typography-small-12-regular">2C6EF2</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-status-color2"></div>
                    <span class="mmc-typography-small-12-regular">14853D</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-status-color3"></div>
                    <span class="mmc-typography-small-12-regular">C53532</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-colors-status-color4"></div>
                    <span class="mmc-typography-small-12-regular">FFBE00</span>
                </div>
            </div>

            <div class="responsive-grid responsive-grid-gap">
                <a
                    href="https://brand.mmc.com/document/295#/brand-elements/color"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <button class="btn-secondary btn-secondary-default">
                        <span class="mmc-typography-body-14-large-regular">Color Guidelines</span>
                    </button></a
                >

                <a
                    href="https://brand.mmc.com/document/296#/assets/color"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <button class="btn-secondary btn-secondary-default">
                        <span class="mmc-typography-body-14-large-regular"
                            >Color Palette and Gradients</span
                        >
                    </button></a
                >
            </div>

            <div>
                <h2 class="mmc-typography-title1-32-regular-caps">Shadows</h2>
                <p class="mmc-typography-body-16-large-regular">
                    Status colors should be used to communicate states to the user.
                </p>
            </div>

            <div class="mmc-colors">
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-shadows-shadow1"></div>
                    <span class="mmc-typography-small-12-regular">Raised</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-shadows-shadow2"></div>
                    <span class="mmc-typography-small-12-regular">Floating</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-shadows-shadow3"></div>
                    <span class="mmc-typography-small-12-regular">Flat</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-shadows-shadow4"></div>
                    <span class="mmc-typography-small-12-regular">Pressed</span>
                </div>
                <div class="mmc-colors-column">
                    <div class="mmc-colors-color-div mmc-shadows-shadow5"></div>
                    <span class="mmc-typography-small-12-regular">Focused</span>
                </div>
            </div>
        </section>
    </div>
</section>
